<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'flatpages/default.html' %}</title>
</head>

{% load censor %}
{% load custom_tags %}

{% block title %}
Post
{% endblock title %}

{% block content %}
<body>
<h1>Все новости ({{ post_news.count}})</h1>
<h3>{% current_time '%d %b %Y' %}</h3>
<h3> {{ next_sale|default_if_none:"Чуть позже сообщим о более свежих новостях!" }}</h3>
<br>
<form action=""
      method="get">
    {{ filterset.form.as_p }}
    <input type="submit"
    value="найти"/>
</form>
<hr>
{% if post_news %}
    <table>
        <thead>
        <tr>
            <th>заголовок</th>
            <th>дата публикации</th>
            <th>текст</th>
        </tr>
        {% for post in post_news %}
        <tr>
            <td><a href="{% url 'post_detail' post.id %}">{{ post.title|censor}}</a></td>
            <td>{{ post.date_in|date:'d M Y'}}</td>
            <td>{{ post.text|censor|truncatechars:20}}</td>
        </tr>
        {% endfor %}
        </thead>
    </table>

    {% if post_news.has_other_pages %}
    <div class="pagination">
        <span class="step-links">
            {% if post_news.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ post_news.previous_page_number }}">предыдущая</a>
            {% endif %}

            <span class="current-page">
                Страница {{ post_news.number }} из {{ post_news.paginator.num_pages }}.
            </span>

            {% if post_news.has_next %}
                <a href="?page={{ post_news.next_page_number }}">следующая</a>
                <a href="?page={{ post_news.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}

{% else %}
    <h2>новостей нет!</h2>
{% endif %}
{% endblock content %}
</body>
</html>
